# JetBrains IDE
.idea/
*.iml
shelf/
workspace.xml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/

# VS Code (nëse ndonjë e përdor)
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
